{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <title>{{board.name}}</title>
</head>
{% if page == 'update-board' %}
<body>
    {% include 'navbar.html' %}
    <div class="content">
        <div class="fixed_centered_container">
            <h1 class="edit_head"> Edit Board {{ board.name }}</h1>
            <form method="POST" action="" class="edit_board">
                {% csrf_token %}

                {{form}}

                <div id="border_settings"></div>
                <div class="edit_board_button_selection">
                    <div class="main_button" style="visibility: hidden"></div>

                    <div class="main_button" id="edit_board_delete"
                        onclick="location.pathname = 'delete_board/{{board.id}}'">
                        delete</div>

                </div>
                <div class="edit_board_button_selection">
                    <div class="main_button" id="edit_board_cancel" onclick="location.pathname = 'board/{{board.id}}'">
                        cancel
                    </div>
                    <button class="main_button" type="submit" id="edit_board_save">submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% else %}
<body>
    {% include 'navbar.html' %}
    <div class="content">
        <div class="fixed_centered_container">
            <h1 class="edit_head"> Create a Board</h1>
            <form method="POST" action="" class="edit_board">
                {% csrf_token %}

                {{form}}

                <div id="border_settings"></div>
                <div class="edit_board_button_selection">
                    <div class="main_button" style="visibility: hidden"></div>

                </div>
                <div class="edit_board_button_selection">
                    <div class="main_button" id="edit_board_cancel" onclick="location.pathname = ''">
                        cancel
                    </div>
                    <button class="main_button" type="submit" id="edit_board_save">submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% endif %}
{% endblock content %}