<!DOCTYPE html>

{% load static %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <title>{{board.name}}</title>
</head>

<body>
    <!-- macht das irgendwas? -->
    <div class="backdrop"></div> 
    
    {% include 'navbar.html' %}
    <div class="content">
        <div class="status">
            <div class="sidebar left_sidebar">
                <div class="left_sidebar_board_title">{{board.name}}</div>
                <div class="left_sidebar_board_desc">{{board.description}}</div>
                {% if request.user.is_authenticated %}
                    <div><div class="main_button edit_card_button add_card_button" onclick="location.pathname = 'update_board/{{board.id}}/'">edit board</div></div>
                    <div><div class="main_button edit_card_button add_card_button" onclick="location.pathname = './board/{{board.id}}/create_card/'">new card</div></div>
                {% else %}
                <div><div class="main_button edit_card_button add_card_button" onclick="location.pathname = 'login/'">edit board</div></div>
                <div><div class="main_button edit_card_button add_card_button" onclick="location.pathname = 'login/'">new card</div></div>
                {% endif %}
                <div class="left_sidebar_participant_head">Participants</div>
                <ul class="left_sidebar_ul">
                    {% for user in participants %}
                    <li class="left_sidebar_ul_item">{{user.username}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="board">
                <div class="board_column board_column_todo">
                    <div class="column_head">
                        <div class="head_headline">To-Do</div>
                    </div>
                    <div class="card_dropzone top">
                        <div class="expandable"></div>
                    </div>
                    {% for task in tasks_todo %}
                    {% include 'base/task_item.html' %}
                    {% endfor %}
                </div>
                <div class="board_column board_column_doing">
                    <div class="column_head">
                        <div class="head_headline">Doing</div>
                    </div>
                    <div class="card_dropzone top">
                        <div class="expandable"></div>
                    </div>

                    {% for task in tasks_doing %}
                    {% include 'base/task_item.html' %}
                    {% endfor %}
                </div>
                <div class="board_column board_column_done">
                    <div class="column_head">
                        <div class="head_headline">Done</div>
                    </div>
                    <div class="card_dropzone top">
                        <div class="expandable"></div>
                    </div>

                    {% for task in tasks_done %}
                    {% include 'base/task_item.html' %}
                    {% endfor %}
                    </div>
            </div>
            <div class="sidebar right_sidebar">
                <div class="search_container" id="board_search_titles_container">
                    <form>
                        <input type="text" name="q" class="searchbar" id="board_search_titles" placeholder="Search Cards" />
                        <button class="search_btn" type="submit">
                            <img src="{% static 'Images/Icons/suche.svg' %}" alt="search">
                        </button>
                    </form>
                </div>
                <div class="right_sidebar_user_task_title">My Tasks</div>
                <ul class="right_sidebar_user_tasks">
                    {% for task in user_tasks %}
                    {% if task.board == board %}
                    <li>{{task.name}}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="main_button leave_board_button" onclick="location.pathname = 'leave_board/{{board.id}}'">leave board</div>
            </div>
        </div>
    </div>
    <div class="edit_card_container">
        {% include 'base/task_form.html' %}
    </div>
    <div class="edit_board_container ">
        {% include 'base/board_form.html' %}
    </div>
    <script src="{% static 'js/board.js' %}"></script>
    <script src="{% static 'js/account_expand.js' %}"></script>
</body>

</html>

{% endblock content %}