{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <title>{{board.name}}</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Create Task for Board {{ board.name }}</h1>
    <form method="POST" action="" class="edit_card">
        {% csrf_token %}

        {{form.as_p}}

        <input type="hidden" name="board_id" value="{{ board.id }}">
        <input type="hidden" name="owner" value="{{ creator.email }}">
        {% if page == 'update-card' %}
        <div class="main_button"  id="edit_card_delete" onclick="location.pathname = 'delete_card/{{task.id}}'">delete</div>
        {% endif %}
        <div class="main_button" id="edit_card_cancel" onclick="location.pathname = 'board/{{board.id}}'">cancel</div>
        <button class="main_button" type="submit" type="submit" id="edit_card_save">submit</button>
    </form>
</body>
{% endblock content %}