<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <title>Webprojekt</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content">
        <!-- start if for my boards when loged in -->
        <div id="back_color_my_boards">
            <div class="my_boards_anchor"></div>
            {% if request.user.is_authenticated %}
            <div class="board_overview" id="my_boards">
                <h1>My Boards</h1>
                <form class="search_container">
                    <input type="text" name="q" class="searchbar" placeholder="Search for Boards" />
                    <button type="sutbmit" class="search_btn">
                        <img src="{% static 'Images/Icons/suche.svg' %}" alt="search">
                    </button>
                </form>
                <div class="board_preview_expand_container">
                    <div class="board_preview_expand_line"></div>
                    <!-- <div class="board_preview_expand">show more boards</div> -->
                    <div class="board_preview_expand" onclick="location.pathname = './create_board'">new board</div>
                    <div class="board_preview_expand_line"></div>
                </div>
                <div class="board_previews">
                    {% for board in myboards %}
                    {% include 'base/board_item.html' %}
                    {% endfor %}
                    <!-- insert 4 board previews here after click on board_preview_expand_container (see below) -->
                    <div class="public_boards_anchor"></div>
                </div>
            </div>


        </div>
        {% else %}
        <div class="board_overview" id="my_boards">
            <h1>Log in to add your own boards!</h1>
            <form class="search_container">
                <input type="text" name="q" class="searchbar" placeholder="Search for Boards" />
                <button type="sutbmit" class="search_btn">
                    <img src="{% static 'Images/Icons/suche.svg' %}" alt="search">
                </button>
            </form>
            <div class="board_preview_expand_container">
                <div class="board_preview_expand_line"></div>
                <!-- <div class="board_preview_expand">show more boards</div> -->
                <div class="board_preview_expand" onclick="location.pathname = './login'">
                    Log in</div>
                <div class="board_preview_expand_line"></div>
            </div>
        </div>
        {% endif %}
        <!-- End If for MyBoards when loged in -->
        <div id="back_color_public_boards">
            <div class="board_overview" id="public_boards">
                <h1>All Boards</h1>
                <!-- <div class="search_container">
                    <input type="text" class="searchbar" placeholder="Search for Boards" />
                    <div class="search_btn">
                        <img src="{% static 'Images/Icons/suche.svg' %}" alt="search">
                    </div>
                </div> -->
                <div class="board_previews">
                    {% for board in boards %}
                    {% include 'base/board_item.html' %}
                    {% endfor %}
                    <!-- insert 4 board previews here after click on board_preview_expand_container (see below) -->
                    <div class="public_boards_anchor"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'js/account_expand.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>

</body>

</html>