<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <title>Log in</title>
</head>

<body>
    {% if page == 'login' %}
    <header>
        <div class="navbar">
            <div class="flex_help_container">
                <!-- currently set to logged in page, change on not logged in -->
                <h1 class="home" onclick="location.pathname = '.'">Webprojekt</h1>
            </div>
            <ul class="nav_elements">
                <li class="nav_element">Log in</li>
            </ul>
            <div class=" flex_help_container">
                <div class="sign_options">
                    <div class="log_in_btn" onclick="location.pathname = './login'">Log in</div>
                    <div class="sign_up_btn" onclick="location.pathname = './register'">Sign up</div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="back_color_sign_in">
            <div class="sign_in_container">
                <h1>Webprojekt</h1>
                <h3>by Fabian Kowalczyk, Roman Gerheim, Johannes Bahne and Mike Werner</h3>
                <h1>Log in</h1>
                <form method="POST" action="/login/">
                    {% csrf_token %}

                    <div style="border-top: 1px solid white"></div>
                    <div class="sign_in_item">
                        <label for="" class="label">
                            Username
                            <input type="text" id= 'username' name="username" placeholder="Type in your username">
                        </label>
                    </div>
                    <div class="sign_in_item">
                        <label for="" class="label">
                            Password
                            <input type="password" id='pass1' name="pass1" maxlength="30" minlength="6" placeholder="Type in your password">
                        </label>
                    </div>
                    <div class="sign_in_item">
                        <button type="submit" class="main_button">Login</button>
                    </div>
                    <div class="sign_in_item">
                        <a href="{% url 'register' %}">No account? Sign up now</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- register -->
    {% else %}
    <div class="backdrop"></div>
    <header>
        <div class="navbar">
            <div class="flex_help_container">
                <!-- currently set to logged in page, change on not logged in -->
                <h1 class="home" onclick="location.pathname = '.'">Webprojekt</h1>
            </div>
            <ul class="nav_elements">
                <li class="nav_element">Sign up</li>
            </ul>
            <div class="flex_help_container">
                <div class="sign_options">
                    <div class="log_in_btn" onclick="location.pathname = './login'">Log in</div>
                    <div class="sign_up_btn" onclick="location.pathname = './register'">Sign up</div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="profile_settings_container">
            <form action="/register/" method="POST" class="profile_settings">
                {% csrf_token %}
                <div class="profile_input_title">Set Profile Settings</div>
                <!-- difference from sign in: profile_add_container -->
                <div class="profile_add_container">
                    <div class="profile_input_desc">Username:</div>
                    <input type="text" id="username" placeholder="Only letters and numbers" name="username">
                    <div class="profile_input_desc">First name:</div>
                    <input type="text" id="fname" placeholder="Enter your first name" name="fname">
                    <div class="profile_input_desc">Last name:</div>
                    <input type="text" id="lname" placeholder="Enter your last name" name="lname">
                    <div class="profile_input_desc">Email:</div>
                    <input type="email" id="email" placeholder="abc@xyz.com" name="email">
                </div>
                <div class="profile_input_title">Set Password</div>
                <div class="change_password_container">
                    <label for="profile_input_password">Set password:</label>
                    <input type="password" id="pass1" placeholder="Create a password" name="pass1">
                    <label for="profile_input_password_repeat">Repeat password:</label>
                    <input type="password" id="pass2" placeholder="Confirm your password" name="pass2">
                </div>
                <!-- <div class="main_button save_profile" type="submit">Signsss up</div> -->
                <button type="submit" class="main_button save_profile">Signup</button>
                <div class="sign_in_item">
                    <a href="{% url 'login' %}">Already have an account? Login</a>
                </div>
            </form>
        </div>
    </div>

    <script src=""></script>
</body>

</html>

{% endif %}